In [1]:
a = ["banana", "apple", "microsoft"]

In [3]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [4]:
for element in a:
    print(element)

banana
apple
microsoft

In [18]:
b = [20, 10, 5]
for element in b:
    print(element)

20
10
5

In [23]:
b = [20, 10, 5]
total = 0
for element in b:
    total = total + element
print(total)

35

In [25]:
# 1, 2, 3, 4
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [32]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [45]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [46]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [48]:
print(4 % 3)

1

In [49]:
print(5 % 3)

2

In [50]:
print(1 % 3)

1

In [62]:
print(6 % 3)

0

In [64]:
total3 = 0 
for i in range(1, 8):
    if i % 3 == 0:
         total3 += i
print(total3)

9

In [65]:
# Can you compute all the multiples of 3, 5
# That are less than 100?
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [72]:
total4 = 0
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        total4 += i
print(total4)

2318